::ng-deep .mat-dialog-container {
    padding: 10px !important;
    overflow: hidden !important;
}

::ng-deep .mat-dialog-content {
    margin: 0;
    overflow: auto !important;
}

::ng-deep .mat-dialog-actions {
    float: right;
    padding: 0 !important;
    margin-top: 30px;
    margin-bottom: -3px;
    min-height: 30px;
}
.close-icon {
    color: #f7f0ef;
}
